.default-bnbg{
	border-radius: 15px;
	background-color: #D9D9D9;
}

.back-button {
	@extend .default-bnbg;
	width: 170px;
}

.body-form{
	@extend .default-bnbg;
	margin-top: 20px;
	
}
.form-thongTin{
	background-color: white;
	border-radius: 10px;
	&.subForm-thongTin{
		background-color: #D9D9D9;
	}
}

.input-gray{
	background-color: #D9D9D9;
	&:focus{
		background-color: #D9D9D9;
	}
	&:hover {
		background-color: #D9D9D9;
	}
}
.w-89{
	width: 89%;
}
.mt-4p5{
	margin-top: 1.95rem;
}
.h-0{
	height: auto !important;
}
.col-1p173{
	width: calc((100% / 12)*1.173);
}
.col-10p827{
	width: calc((100% / 12)*10.827);

}
