.btnDanhMuc {
	position: relative;
}

.treeDanhMuc {
	min-width: 150px;
	position: absolute;
	top: 0;
	left: calc(100% + 0.2rem);
	width: auto;
	text-wrap: nowrap;
	z-index: 1000;
	border: 2px solid black;
	;
	border-radius: 7px;
}