.cartContainer {
  padding: 20px;
  background-color: #f9f9f9;
  margin: 10px 40px;
}

.cartContent {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.cartItems {
  flex: 1;
  margin-right: 50px;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  margin: 10px 0;
  width: 1000px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  position: relative;

  &_title {
    position: absolute;
    left: 9vw;
  }

  &_price {
    position: absolute;
    left: 40vw;
    top: 30%;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 10px 0px;
}

.quantityControls {
  display: flex;
  align-items: center;

  button {
    width: 30px;
    height: 30px;
  }

  input {
    margin: 0 5px;
    width: 50px;
    text-align: center;
  }
}

.deleteButton {
  margin-left: 10px;
}

.totalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; // Để căn chỉnh bên phải
  text-align: center;
  padding: 10px;
  width: 25vw;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  aspect-ratio: 8/1;
}

.orderButton {
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
}