:root {
    --primary: #2E443C;
    --header: #E8F8D7;
    --bgitem: #F0F0F0;
    --bg: #B2BCBE;
    --footer: #CFDDDF;
    --darktext: #1e1e1e;
    --lighttext: #ffffff;
}

.layout {
    background-color: (#B2BCBE);
}