#img {
    image-rendering: optimizeQuality;
}

#slide-show {
    object-fit: cover;
    margin: 100px;
}

.user-home {
    &-layout {
        background-color: var(--bg);
    }

    &-content {
        padding: 20px 30px;
        height: 100%;
        margin: 160px 0 0;
        background-color: var(--bg);
    }
}