/* ClientHeader.module.scss */

.header {
    display: flex;
    flex-direction: column;
    /* Stack top row and search/buttons */
    background: #8037de;
    /* Background color */
    padding: 0 36px;
    /* Padding around the header */
    height: 180px;
}

.topRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Space between elements in the row */
}

.menuButton {
    margin-right: auto;
    border-radius: 10;
}

.menuItems {
    display: flex;
    /* Align menu items horizontally */
    align-items: center;
    /* Center align items */
}

.link {
    color: white;
    text-decoration: none;
    margin: 0 65px;

    &:hover {
        text-decoration: underline;
    }
}

.logo {
    margin-left: auto;
}

.logoImage {
    width: 80px;
    /* Set logo width */
    height: auto;
    /* Maintain aspect ratio */
}

.searchAndButtons {
    display: flex;
    align-items: center;
    /* Vertically center the search and buttons */
    margin-top: 16px;
    /* Space above search and buttons */
}

.searchInput {
    height: 50px;
    /* Increase height */
    font-size: 18px;
    /* Make text larger */
    width: 600px;
    /* Width for the search input */
    /* Space between search and buttons */
    border-radius: 5px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 20px;
    color: white;
    height: 75px;
    width: 100px;
}

.buttonText {
    text-align: center;
    font-size: 90%;
    letter-spacing: 1px;
}

.ButtonNavHeader {}

.icon {
    width: 30px;
    height: 30px;
    margin: 10px 0;
}

.tree {
    position: absolute;
    width: 201.2px;
    height: fit-content;
    padding: 13px 10px 10px;
    left: 2.1%;
    top: 17.9%;
    font-size: 16px;
    border-radius: 0 0 10px 10px;
    animation: showUptoDown 0.5s ease-in;
}

.tree-hidden {
    display: none;
    width: 201.2px;
}

@keyframes showUptoDown {
    0% {
        height: 0px;
        opacity: 0;
        font-size: 10px;
    }

    100% {
        height: fit-content;
        opacity: 1;
        font-size: 16px;
    }
}